.container {
  display: flex;
}

h4 {
  width: 100%;
}

select {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding: 8px;
}

select:focus {
  outline-width: 0;
  border: 1px solid black;
}

.details {
  padding: 0 40px;
}

.provider_logo {
  width: 70px;
  height: 70px;
}
